<form method="post" action="{{ path('participante_torneo_delete', {'id': participante_torneo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participante_torneo.id) }}">
    <button class="btn">Delete</button>
</form>