{% extends 'base.html.twig' %}

{% block title %}Edit ParticipanteTorneo{% endblock %}

{% block body %}
    <h1>Edit ParticipanteTorneo</h1>

    {{ include('participante_torneo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participante_torneo_index') }}">back to list</a>

    {{ include('participante_torneo/_delete_form.html.twig') }}
{% endblock %}