<div>
    <img src="{{ absolute_url('bundles/app/img/logo_urp.jpg') }}">

    <h3>Solicitud de registro de jugador</h3>

    <p style="text-align: center">
        Muchas gracias <strong>{{ nombre }}</strong>.
        Hemos recibido tu solicitud.
    </p>
    <p style="text-align: center">
        Para confirmar tu Registro precompetitivo hace click en este
        <a href="{{ url }}">link</a>
    </p>
</div>