<div>
    <img src="{{ asset('bundles/app/img/logo_urp.jpg') }}">

    <h3>Solicitud de registro de jugador</h3>

    <p style="text-align: center">
        Muchas gracias <strong>{{ nombre }}</strong>.
        Hemos recibido tu solicitud de registro la cual ha sido <strong>RECHAZADA</strong>
    </p>
    <p style="text-align: center">
        Por favor, volvé a solicitar el registro haciendo click en el siguiente
        <a href="#">link</a>
    </p>
</div>