<form method="post" action="{{ path('ficha_medica_delete', {'id': ficha_medica.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ficha_medica.id) }}">
    <button class="btn">Delete</button>
</form>