<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<link rel="stylesheet" href="{{ absolute_url(asset('build/css/main.css')) }}">
<body>
<div class="row">
    <div class="col-md-3">
        Unión de Rugby del Paraguay
    </div>
</div>
</body>
</html>