{% extends 'base_public.html.twig' %}

{% block title %}

{% endblock title %}
{% block body %}
    <div class="public-box">
        <div class="public-logo center-block">
            <a href="#">
                <img src="{{ asset('bundles/app/img/logo_urp.jpg') }}" class="img-responsive">
            </a>
        </div>

        <div class="public-box-body">
            {#<p class="login-box-msg">Register a new membership</p>#}
            <h1 class="text-center">EVALUACIÓN PRE-COMPETITIVA {{ "now" | date('Y') }}</h1>

            <form action="{{ path('jugador_precompetitivo_datos_personales') }}" method="post">
                <div class="row">
                    <div class="col-md-6">

                        <h4>Seleccioná una opción</h4>

                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input name="categoria" id="optionsRadios2" value="infantil" type="radio">
                                    Infantil (no competitivo)
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input name="categoria" id="optionsRadios2" value="menor" type="radio">
                                    Menor de 18 años
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input name="categoria" id="optionsRadios2" value="mayor" type="radio">
                                    Mayor de 18 años
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input name="categoria" id="optionsRadios2" value="referee" type="radio">
                                    Referee (No jugador)
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ path('jugador_precompetitivo_presentacion') }}"
                           class="btn btn-default btn-block btn-flat">Anterior</a>
                    </div>
                    <div class="col-md-4 pull-right">


                        <button type="submit" class="btn btn-primary btn-block btn-flat">Siguiente</button>

                    </div>
                </div>
            </form>

        </div>
        <!-- /.form-box -->
    </div>
{% endblock %}
