<div>
    <img style="width: 128px; height: auto" src="{{ absolute_url(asset('build/img/logo_fbr.jpg')) }}">

    <h3>Solicitud de registro de jugador</h3>

    <p style="text-align: center">
        Muchas gracias <strong>{{ nombre }}</strong>.
        Hemos recibido tu solicitud.
    </p>
    <p style="text-align: center">
        Para confirmar tu Registro precompetitivo hace click en este
        <a href="{{ url }}">link</a>
    </p>
</div>