{% extends 'base_public.html.twig' %}

{% block title %}

{% endblock title %}
{% block body %}
    <div class="public-box">
        <div class="public-logo center-block">
            <a href="#">
                <img src="{{ asset('build/img/logo_urp.png') }}" class="img-responsive">
            </a>
        </div>

        <div class="public-box-body">
            <h1 class="text-center">INSCRIPCIÓN REFEREE</h1>


            <div class="row text-center">
                <h2>Muchas Gracias</h2>
                <p>
                    Se presentó una solicitud para el referee {{ referee.persona.nombre }}
                    {{ referee.persona.apellido }}, con C.I. N°
                    {{ referee.persona.numeroIdentificacion }}
                </p>
                <p>
                    Te hemos enviado un mail con la dirección que indicaste.
                </p>

            </div>


        </div>
        <!-- /.form-box -->
    </div>
{% endblock %}
