{% extends 'base_public.html.twig' %}

{% block title %}

{% endblock title %}
{% block body %}
    <div class="public-box">
        <div class="public-logo center-block">
            <a href="#">
                <img src="{{ asset('build/img/logo_urp.png') }}" class="img-responsive">
            </a>
        </div>

        <div class="public-box-body">
            {#<p class="login-box-msg">Register a new membership</p>#}
            <h1 class="text-center">INSCRIPCIÓN REFEREE</h1>


            <div class="row text-center">
                <h2>Muchas Gracias</h2>
                <p>
                    {{ mensaje }}
                </p>

            </div>


        </div>
        <!-- /.form-box -->
    </div>
{% endblock %}
