{% extends 'base.html.twig' %}

{% block title %}
    Error 404
{% endblock title %}
{% block body %}
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Ups! Página No encontrada.</h3>

            <p>
                Tal vez ingresaste mal la dirección URL, si no es así informalo al administrador.
            </p>
            <a href="{{ path('app_homepage') }}" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i>
                Volver al Inicio
            </a>


        </div>
        <!-- /.error-content -->
    </div>
{% endblock body %}